@model List<HejCamping.ApplicationServices.ReviewDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to {hejcamping}</h1>
    <p>Your unlocal worldclass cabins by the sea.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 ..">
            <h3>Nu då för helvete!</h3>
            <h3>Escape to Nature's Paradise</h3>
            <p>Unwind at {HejCamping} on pristine beaches, indulge in the invigorating scent of exotic flowers, and soak up the sunshine with a good book.</p>
            <p>Wake up to stunning ocean views and the waves just outside your window.</p>
            <p>Hej mer info!</p>
        </div>
        <div class="col-md-6 ..">
            <h3>Activities</h3>
            <p>At {hejcamping} we offer a wide range of activities for the whole family. We have a large pool area, a playground, a restaurant and a shop. We also have a wide range of cabins for rent.</p>
            <p>Explore hidden coves, go snorkeling in crystal-clear waters, hike through lush rainforests, or take a boat trip to nearby islands. There's something for everyone!</p>
    @using HejCamping.Migrations;
        </div>
    </div>
    <div class="row">
    @using HejCamping.Migrations;
    <div class="col-md-6 ..">
        <img src="~/images/campsite_map.png" class="img-fluid" alt="Camping">
    </div>
    <div class="col-md-6 ..">
        <h3>Book Your Dream Getaway Now!</h3>
        <p>Our campsite is located by the sea and has a wonderful view. We have a large pool area, a playground, a restaurant and a shop. We also have a wide range of cabins for rent.</p>
        <p>Hej mer info?</p>
        
        <a class="btn btn-primary" asp-controller="Home" asp-action="Booking">Book now</a>
    </div>
    </div>
</div>
<container>
<div class="row">
    <h2>What our guests say</h2>
    @Html.Partial("_ReviewList", Model)
</div>
</container>

