@model HejCamping.Web.Models.LoginViewModel



<div class="container">
  
  <div class="display-1 p-3 text-center">Login</div>
  
  
  
  <form class="row justify-content-center px-xl-5" asp-action="Login" asp-controller="Authentication" method="post" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    
      <div class="col-sm col-md-8 col-lg-6 mb-2 mx-2 ">
        <label class="form-label " asp-for="Username">Username:</label>
        <input class="form-control" type="text" id="Username" asp-for="Username" required />
        <span asp-validation-for="Username" class="text-danger"></span>
      </div>

      <div class="col-sm col-md-8 col-lg-6 mb-2 mx-2 ">
        <label class="form-label" asp-for="Password">Password:</label>
        <input class="form-control" type="password" id="Password" asp-for="Password" required />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>

      <div class="col-sm d-grid col-md-8 col-lg-6 mx-2 ">
        <button type="submit" class="btn btn-primary mt-3 ">Login</button>
      </div>
    

  </form>

  
    

 
  



</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}