html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
  background-color: #eef5e6;
}

.narrow-input {
  max-width: 20%;
}

/* Modal styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
 /* width: 100%;  Full width */
 /* height: 100%;  Full height */
 /* overflow: auto;  Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black with opacity */
}


/* Modal Content 
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size 
}
*/

/* Container to hold the image and text */
.banner-container {
  position: relative;
  width: 100%;
}

/* Style the text overlay */
.banner-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.3); /* optional: adds a semi-transparent background */
  padding: 10px;
  border-radius: 5px;
}

/* Style the booking button at the bottom of the banner */
.banner-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-button a {
  padding: 10px 40px; /* Makes the button wider */
  font-size: 1.5em;
  border-radius: 5px;
}

/* Customize for smaller devices if needed */
@media (max-width: 768px) {
  .banner-text {
      font-size: 1.5em;
      padding: 10px;
  }

  .banner-button a {
      font-size: 1.2em;
      padding: 8px 30px;
  }
}