html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
  background-color: #eef5e6;
}

.narrow-input {
  max-width: 20%;
}

/* Modal styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
 /* width: 100%;  Full width */
 /* height: 100%;  Full height */
 /* overflow: auto;  Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black with opacity */
}


/* Modal Content 
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size 
}
*/

/* Container to hold the image and text */
.banner-container {
  position: relative;
  width: 100%;
}

/* Style the text overlay */
.banner-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.3); /* optional: adds a semi-transparent background */
  padding: 10px;
  border-radius: 5px;
}

/* Style the booking button at the bottom of the banner */
.banner-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-button a {
  padding: 10px 40px; /* Makes the button wider */
  font-size: 1.5em;
  border-radius: 5px;
}

.footer {
  font-size: medium;
  margin-bottom: 10px;
  line-height: 1.2;
}

/* Customize for smaller devices if needed */
@media (max-width: 768px) {
  .banner-text {
      font-size: 1.5em;
      padding: 10px;
  }

  .banner-button a {
      font-size: 1.2em;
      padding: 8px 30px;
  }
}

/* Carousel styling */
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: 2;
  border-radius: 2;
  size-adjust: auto;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #333333;
  width: 5%;
  height: 40px;
  opacity: 0.5;
  border-radius: 50%;
  top: 50%;
  transform: translateY(20%);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
/* Add this to your CSS file */
@media only screen and (max-width: 768px) { /* adjust the max-width value to your desired breakpoint */
  #reviewCarousel .carousel-inner .carousel-item .col-md-4 {
    flex: 0 0 100%; /* make each column take full width on small screens */
  }
}