@model HejCamping.Domain.Review


<h1>Create Review</h1>

@if(!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            }
    </div>
}

<form asp-action="CreateReview" method="post">
    <div class="form-group">
        <label asp-for="ReviewText" class="mr-2">Review Text</label>
        <textarea asp-for="ReviewText" class="form-control form-control-sm" rows="5"></textarea>
    </div>
    <div class="form-inline">
        <label asp-for="Name" class="mr-2"></label>
        <input asp-for="Name" class="form-control form-control-sm" />
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-primary btn-sm" />
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}