@model List<HejCamping.ApplicationServices.ReviewDTO>

<div class="container mt-4">
    <h1 class="mb-4">Current Reviews</h1>




  
</div>
<container>
    <div class="container mt-4">    
        <a href="@Url.Action("CreateReview", "Reviews")" class="btn btn-primary">Create Review</a>
        <a href="@Url.Action("EditReview", "Reviews")" class="btn btn-primary">Edit Review</a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary float-right">Back to Home</a>
    </div>
</container>
