<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HejCamping</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HejCamping.styles.css" asp-append-version="true" />
    
    <script src="https://kit.fontawesome.com/0b123247f5.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-xxl">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <span class="fw-bold">
                    HejCamping
                </span>
                </a>
                <!-- toggle button for mobile view -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navigation links -->
                <div class="collapse navbar-collapse justify-content-end align-center" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Booking" asp-action="Index">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        @if (Context.User?.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="AdminPortal" asp-action="DashBoard">
                                DashBoard
                                <i class="fa-solid fa-user-secret"></i>
                                </a>
                            </li>
                            <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Authentication" asp-action="Login">
                                <i class="fa-solid fa-user-secret"></i>
                                </a>
                            </li>
                            <!-- a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a -->
                        }
                    </ul>
                </div>
            </div>
        </nav>
    <!-- Different banner for landing page -->
    <div class="banner-container">
        @if (ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Home")
        {
            <img src="~/images/hejlandingpage2.jpg" alt="Landing Page Banner" style="width: 100%; height: 500px; object-fit: cover;" />
            <div class="banner-text">
                <h1 class="display-4">Welcome to {hejcamping}</h1>
                <p>Your unlocal worldclass cabins by the sea.</p>
            </div>

            <!-- Book Now Button -->
            <div class="banner-button">
                <a class="btn btn-primary btn-lg" asp-controller="Booking" asp-action="Index">Book now!
                    <i class="fa-solid fa-house"></i>
                </a>
            </div>
        }
        else
        {
            <img src="~/images/banner2.png" alt="Campsite Banner" style="width: 100%; height: 200px; object-fit: cover;" />
        }
    </div>
    </header>
    <div class="container pb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer py-2" style="position: absolute; bottom: 0; width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2024 - HejCamping -                     
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - 
                    <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </div>
                <div class="col-md-6 text-end">
                     @if (Context.User?.Identity?.IsAuthenticated == true)
                        {
                                <a class="nav-link" asp-area="" asp-controller="AdminPortal" asp-action="DashBoard">
                                <i class="fa-solid fa-user-secret"></i>
                                </a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                                <a class="nav-link" asp-area="" asp-controller="Authentication" asp-action="Login">
                                <i class="fa-solid fa-user-secret"></i>
                                </a>
                        }
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
