@model List<HejCamping.Application.DTOs.ReviewDTO>

<container>
    <div class="row my-5 align-items-center justify-content-center g-2">
    @if (Model.Count != null)
    {
        <h3>What Our Guests Say</h3>
            @foreach (var review in Model.OrderBy(r => Guid.NewGuid()).Take(3))
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@review.ReviewText</h5><br>
                            <p class="card-text"><strong>@review.Name</strong></p>
                        </div>
                    </div>
                </div>
            }
    }
    else
    {
        <h3>No Reviews Yet</h3>
    }
    </div>
</container>